.ipcache/
.run/
.Xil/
data/
ip_generation/
*.log
test_dir/
vivado_pack_krnl_project/
xsim.dir/
test_dir/
*.wcfg
*.wdb
*.pb
*.run_summary
*.str
*.jou
*.dat
*.xo
_x/
*.xclbin*
*.csv
*.json
xilinx*
host_krnl_acc_test
*.ltx
log/
data*