[advanced]
#param=compiler.skipTimingCheckAndFrequencyScaling=1

[connectivity]

slr=krnl_acc_1:SLR2

sp=krnl_acc_1.m_ifm:DDR[2]
sp=krnl_acc_1.m_wgt:DDR[1]
sp=krnl_acc_1.m_ofm:DDR[3]

[profile]
data=all:all:all
memory=all
stall=all:all
exec=all:all
trace_memory=DDR[1]:SLR2